body
{
  background-image: url("https://am0908.github.io/BMI-Calculator/background.jpeg");
  text-align: center;
  background-size: auto;
  background-repeat: no-repeat;
}
.bmi
{
  width: 400px;
  padding: 10px;
  background: rgba(178, 86, 230, 0.7);
  color: white;
  text-shadow: 1px 1px black;
  margin: auto;
  margin-top: 15%;
}
h1,h3
{
  color: white;
  text-shadow: 2px 2px black;
}
.hnw
{
border: 2px solid yellow;
}
#btn
{
  
}
